* {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1.5;
}

body {
    margin:auto;
    margin-top: 75px;
    margin-bottom: 75px;
    border: rgba(128, 128, 128, 0.736);
    border-width: .07em;
    border-style: solid;
    padding: 75px 200px;
    max-width: 600px;
}

h1, h2{
    margin: auto;
    text-align: center;
}

h1{
    font-size: 40px;
    letter-spacing: 3px;
    font-weight:normal;
}

h2{
    letter-spacing: 0.15em;
    font-size: 18px;
    font-weight:400;
    margin-top: 15px;

    color: #006EB6;
}

hr {
    margin: 0;
    margin-bottom: 50px;
    border-top: 1px solid rgba(128, 128, 128, 0.286);
}

footer{
    display: flex;
}
img {
    width: 150px;
}

.list-caption{
    font-style: italic;
}

.dark {
    background-color: #333;
    color: rgb(236, 236, 236);
}

.dark h2{
    letter-spacing: 0.15em;
    font-size: 18px;
    font-weight:400;
    margin-top: 15px;
    color: rgb(160, 212, 237);
}

.dark h1{
    font-size: 40px;
    letter-spacing: 3px;
    font-weight:normal;
    color:white;
}

.dark select{
    background-color: gray;
    color: white;
}